<div style="position: relative">
  <button mat-button class="close-button" (click)="closeDialog()">X</button>
  <div style="padding: 3rem 1rem 1rem 0rem;">
    <ul>
      <li>Tudo arredonda para baixo</li>
      <li>CADA TURNO = 3 SEGUNDOS</li>
      <li>Dados para teste: dois D10, sendo um a dezena)</li>
      <li>Teste de compra: carisma</li>
      <li>MUITO CURTO: 0 - 1 metro</li>
      <li>CURTO: 1 - 5 metros</li>
      <li>MÉDIO: 5 - 10 metros</li>
      <li>LONGO: 10 - 30 metros</li>
      <li>MUITO LONGO:  30 - 60 metros</li>
      <li>Ataque grave = Ataque que tira mais da metade da vida máxima - deixa Lesionado</li>
      
    </ul>
  </div>
</div>



