<div class="swrapper">
  <app-header [roomId]="id"></app-header>
  <div class="content-wrapper">
    <div class="main-container">
      <div class="left-container">
        <app-apresentation></app-apresentation>
        <app-table-game-characteristics [data]="data"></app-table-game-characteristics>
      </div>
      <div class="right-container">
        <app-attributes [data]="data"></app-attributes>
        <app-secondary-attributes [data]="data"></app-secondary-attributes>
      </div>
    </div>
  </div>
</div>
