<div class="wrapper">
  <app-header [roomId]="data.id" [data]="data"></app-header>
  <div class="content-wrapper">
    <div class="main-container">
      <div class="left-container">
        <app-apresentation></app-apresentation>
        <app-table-game-characteristics [data]="data.data"></app-table-game-characteristics>
        <app-stability></app-stability>
        <app-text-areas></app-text-areas>
      </div>
      <div class="right-container">
        <app-attributes [data]="data.data"></app-attributes>
        <app-secondary-attributes [data]="data.data"></app-secondary-attributes>
        <app-weapons></app-weapons>
        <app-inventory></app-inventory>
        <app-templates></app-templates>
      </div>
    </div>
  </div>
</div>
