.button-add {
  cursor: pointer;
  user-select: none;
}

.container-card {
  padding: 1rem;
  margin: 1rem;
  filter: brightness(0.9);
  .card-content {
    display: flex;
    justify-content: space-between;
  }

  .header-container {
    display: flex;
    justify-content: space-between;

    span {
      font-size: 1.2rem;
      font-weight: 1000;
      letter-spacing: 0.2rem;
    }
  }
}

.samyaza {
  //#ff3503
  //cor->
  box-shadow: 0 0 20px #412730;
}

.azazel {
  box-shadow: 0 0 20px #34413a;
}

.suphlatus {
  box-shadow: 0 0 20px #bfac71;
}

.baraqiel {
  box-shadow: 0 0 20px #1f1513;
}

.af {
  box-shadow: 0 0 20px #610709;
}

.penemue {
  box-shadow: 0 0 20px #402337;
}

.bezaliel {
  box-shadow: 0 0 20px #b2b986;
}

.chazaqiel {
  box-shadow: 0 0 20px #3c332c;
}

.asbeel {
  box-shadow: 0 0 20px #bb9a65;
}

.armaros {
  box-shadow: 0 0 20px #a56371;
}

.image-container {
  display: flex;

  img {
    width: 187.5px;
    height: 275px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 5px 6px var(--shadow-color);
  }
}

.card-description {
  display: flex;
  flex-direction: column;

  margin: 1rem;
  .title {
    font-weight: 900;
    font-size: 1.2rem;
  }
  .description {
    line-height: 1.5;
  }
  span {
    margin-top: 1rem;
  }
}

.powers-list {
  list-style-type: hebrew;
  padding-left: 1.5rem;

  li {
    padding: 0.2 0.5rem;
  }
}

.divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.555);
}

.break-line {
  white-space: pre-line;
}
