.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  div {
    width: 80%;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    display: flex;
  }
}

.shadow-effect {
  box-shadow: 2px 3px 5px 3px rgb(0 0 0 / 0.3);
  padding: 1.5rem;
  border-radius: 10px;
}

.title {
  color: var(--dark-primary-color);
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.text-area-style {
  padding: 0.3rem;
  width: 100%;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  resize: vertical;
  border: 1px solid rgb(126, 126, 126);
  border-radius: 8px;
  cursor: text;
  overflow: hidden;
  min-height: 5rem;
}

.text-area-style[contenteditable]:empty::before {
  content: 'Digite o que quiser aqui';
  color: gray;
}
