<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>article</mat-icon>
    <mat-card-title>Áreas de texto</mat-card-title>
    <mat-card-subtitle>Fique a vontade</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="container">

      <div class="annotations shadow-effect hover-effect-translate">
        <div class="title">Anotações</div>
        <span class="text-area-style" contenteditable role="textbox"></span>
      </div>

      <div class="history shadow-effect hover-effect-translate">
        <div class="title">História</div>
        <span class="text-area-style" contenteditable role="textbox"></span>
      </div>

    </div>
  </mat-card-content>
</mat-card>