<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>support</mat-icon>
    <mat-card-title>Atributos</mat-card-title>
    <mat-card-subtitle>Que sua sorte esteja nos dados</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="wrapper">
      <div class="container">
        <app-hex2 class="attributes" *ngFor="let attribute of data.attributes | keyvalue" [data]="attribute.value"></app-hex2>
      </div>
      <div class="container">
        <app-hex3 *ngFor="let specialAttribute of data.specialAttributes" [data]="specialAttribute" [attributes]="data.attributes"></app-hex3>
      </div>
    </div>
  </mat-card-content>
</mat-card>
