.hexagon {
  position: relative;
  width: 80px;
  height: 46.19px;
  background-color: var(--dark-primary-color);
  margin: 23.09px 0;
  box-shadow: 0 0 10px var(--dark-primary-color);
}

.hexagon:before,
.hexagon:after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 56.57px;
  height: 56.57px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 11.7157px;
  box-shadow: 0 0 10px var(--dark-primary-color);
}

.hexagon:before {
  top: -28.2843px;
}

.hexagon:after {
  bottom: -28.2843px;
}

.hexagon span {
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  width: 80px;
  height: 46.188px;
  z-index: 2;
  background: inherit;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  color: var(--dark-primary-color);
  font-weight: 800;
  font-size: 1.1rem;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.3rem;

  .row {
    color: var(--text-primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    user-select: none;
    font-weight: 800;
  }

  .change-button {
    cursor: pointer;
  }
}

.button-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  user-select: none;

  .button {
    color: var(--app-primary-color);
    margin: 0.2rem;
    cursor: pointer;
  }
}

.separator {
  gap: 1.5rem;
}

.total {
  color: var(--text-primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  user-select: none;
  font-weight: 800;
}
