<div style="position: relative">
  <button mat-button class="close-button" (click)="closeDialog()">X</button>
  <mat-tab-group style="padding-top: 3rem">
    <mat-tab label="D">
      <app-weapon-table [data]="dataWeaponD"></app-weapon-table>
    </mat-tab>
    <mat-tab label="C (Threshold +2)">
      <app-weapon-table [data]="dataWeaponC"></app-weapon-table>
    </mat-tab>
    <mat-tab label="B">
      <div class="container">
        <app-weapon-table [data]="dataWeaponB"></app-weapon-table>
      </div>
    </mat-tab>
    <mat-tab label="A">
      <div class="container">
        <app-weapon-table [data]="dataWeaponA"></app-weapon-table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
