<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>account_circle</mat-icon>
    <mat-card-title>Seu personagem</mat-card-title>
    <mat-card-subtitle>Informações básicas</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="wrapper">
      <form [formGroup]="apresentationForm" class="wrapper">
        <mat-form-field apperance="fill" #name >
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" (change)="saveObject()" [value]="this.data.name">
        </mat-form-field>
        <mat-form-field apperance="fill" #motivation >
          <mat-label>Motivação</mat-label>
          <input matInput formControlName="motivation" (change)="saveObject()" [value]="this.data.motivation">
        </mat-form-field>
        <div class="age-height-weight-container">
          <mat-form-field apperance="fill" #age>
            <mat-label>Idade (anos)</mat-label>
            <input matInput formControlName="age" (change)="saveObject()" [value]="this.data.age">
            <mat-error>Digite números</mat-error>
          </mat-form-field>
          <mat-form-field apperance="fill" #height >
            <mat-label>Altura (metros)</mat-label>
            <input matInput formControlName="height" (change)="saveObject()" [value]="this.data.height">
            <mat-error>Digite números</mat-error>
          </mat-form-field>
          <mat-form-field apperance="fill" #weight >
            <mat-label>Peso (kilos)</mat-label>
            <input matInput formControlName="weight" (change)="saveObject()" [value]="this.data.weight">
            <mat-error>Digite números</mat-error>
          </mat-form-field>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
