.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.age-height-weight-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  .mat-form-field {
    width: 31%;
  }
}
