<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>star_rate</mat-icon>
    <mat-card-title>Atributos secundários</mat-card-title>
    <mat-card-subtitle>Que sua sorte esteja nos dados (de novo)</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="wrapper">
      <div class="container">
        <app-hex4
          class="attributes"
          *ngFor="let attribute of data.secondaryAttributes"
          [data]="attribute"
          [attributes]="attributes"
        ></app-hex4>
      </div>
    </div>
  </mat-card-content>
</mat-card>
