<div class="container">
  <div class="character-photo hover-effect-translate" (click)="searchImage()">
    <div class="img no-img-container" *ngIf='imgSource==""'>
      <mat-icon style="transform: scale(2)">portrait</mat-icon>
      <span>Clique e mude seu avatar</span>
    </div>
    <img [src]="imgSource" alt="Avatar Image" class="img" *ngIf='imgSource!=""'>
  </div>
  <div class="effects-container">
    <div class="effects">
      <app-effects *ngFor="let effect of data.effects" [data]="effect"></app-effects>
    </div>
    <div class="stats">
      <app-hex1 *ngFor="let i of data.stats" [data]="i"></app-hex1>
    </div>
  </div>
</div>
