.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap !important;
  width: 100%;
}

.effects-container {
  display: flex;
  flex-wrap: wrap !important;
  flex-direction: column;
}

.effects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5rem;
}

.stats {
  display: flex;
  flex-wrap: wrap !important;
  justify-content: space-around;
  padding: 0.6rem;
}
