.container{
  display: flex;
  width: 100%;
}

.effects-container {
  display: flex;
  flex-direction: column;
}

.effects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 60%;
}

.stats {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem;
}
