<div style="margin: 0.5rem 1rem; display: flex; gap: 1rem">
  <button mat-flat-button color="accent" (click)="openLink('https://tabletopaudio.com')">Site de musica</button>
  <button mat-flat-button color="accent" (click)="openLink('https://www.atlasdasaude.pt/lista-de-fobias')">
    Site de fobias
  </button>
  <button mat-flat-button color="accent" (click)="openLink('https://donjon.bin.sh/fantasy/treasure_map')">
    Mapa de tesouro
  </button>
  <button mat-flat-button color="accent" (click)="openLink('https://donjon.bin.sh/scifi/name')">Nomes</button>
</div>
