<div class="container">
  <span class="title">Bem vindo a criação de uma nova arma</span>
  <form [formGroup]="formGroup" (ngSubmit)="submitData(formGroup)" style="width: 80%">
    <mat-dialog-content>
      <mat-form-field apperance="fill" style="width: 100%">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" style="width: 100%" />
        <mat-error>Preencha esse campo corretamente</mat-error>
      </mat-form-field>

      <mat-form-field apperance="fill" style="width: 100%">
        <mat-label>Descrição da arma</mat-label>
        <input matInput formControlName="description" style="width: 100%" />
        <mat-error>Preencha esse campo corretamente</mat-error>
      </mat-form-field>

      <div style="gap: 0.3rem; display: flex">
        <mat-form-field apperance="fill" style="width: 50%">
          <mat-label>Classe</mat-label>
          <mat-select formControlName="class">
            <mat-option *ngFor="let classI of classes" [value]="classI">{{ classI }}</mat-option>
          </mat-select>
          <mat-error>Preencha esse campo corretamente</mat-error>
        </mat-form-field>
        <mat-form-field apperance="fill" style="width: 50%">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let elem of types" [value]="elem.value">{{ elem.name }}</mat-option>
          </mat-select>
          <mat-error>Preencha esse campo corretamente</mat-error>
        </mat-form-field>
      </div>

      <div class="weapon-description">
        <!-- <span>Dano normal: {{}}</span> -->
      </div>

      <mat-form-field apperance="fill" style="width: 100%">
        <mat-label>URL da imagem (Opcional)</mat-label>
        <input matInput formControlName="imageUrl" style="width: 100%" />
        <mat-error>Preencha esse campo corretamente</mat-error>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button color="warn" mat-dialog-close type="button">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </mat-dialog-actions>
  </form>
</div>
