<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>backpack</mat-icon>
    <mat-card-title>Inventário</mat-card-title>
    <mat-card-subtitle>Carregue o que puder</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <div class="hover-effect-translate">
        <textarea class="text-area-style" placeholder="Seu inventário" [(ngModel)]="this.data.inventory">{{
          this.data.inventory
        }}</textarea>
      </div>
    </div>
  </mat-card-content>
</mat-card>
