table {
  width: 100%;
  padding: 1rem;
}

.mat-header-cell {
  text-align: center;
  padding: 0 1rem;
}

.mat-cell {
  padding: 0 1rem;
}

.mat-cell {
  text-align: center;
}

.gray {
  background-color: rgba(196, 196, 196, 0.14);
}
